body {
    background-color: rgb(147, 157, 184);
}

#qr-block {
    background-color: white;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    border-radius: 5%;
    box-shadow: inset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#qr-code {
    width: 20vw;
    border-radius: 5%;
    margin: 1vw;
    padding: 0;
}

#qr-title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: .85em;
    padding: .1em;
    margin: 0;
}

#qr-description {
    font-family: Arial, sans-serif;
    color: rgb(156, 156, 156);
    font-weight: light;
    font-size: 0.55rem;
    padding:  .1em 2vw;
    margin: 2em;
    line-height: 1.2;
}